* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  border: 0px solid red;

  background-color: var(--seasalt);

  font-family: 'Lexend', sans-serif;
}

:root {
  --purple: #800080ff;
  --real-white: #ffffff;
  --white: #fafafa;
  --seasalt: #fafafaff;
  --licorice: #261c15ff;
  --cool-gray: #8e8dbeff;
  --saffron: #e3b505ff;
  --light-gray: #dadada;

  --gray-2: #f8fafd;
  --gray-3: #e7e8eb;
  --gray-4: #e9eef6;
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  padding: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--licorice);
  width: 8px;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--saffron);
} */
