:root {
  /* typography */
  --ff-primary: 'Lexend', sans-serif;

  --fs-large: 20px;
  --fs-medium: 15px;
  --fs-small: 12px;

  --fw-bold: 800;
  --fw-semi-bold: 600;
  --fw-regular: 400;
  --fw-semi-light: 200;
  --fw-light: 100;

  /* dark mode */
  --dark-background-color: black;
  --dark-foreground-color: rgba(33, 33, 33, 255);

  --dark-highlight-color: #800080ff;

  --dark-border-color: rgba(63, 63, 63, 255);
  --dark-border: 1px solid var(--dark-border-color);

  --dark-font-color: white;

  --dark-button-color: green;
  --dark-button-color-hover: var(--purple);

  /* light mode */
  --light-background-color: white;
  --light-foreground-color: #f0f0f0;

  --light-highlight-color: #800080ff;

  --light-border-color: lightgray;
  --light-border: 1px solid var(--light-border-color);

  --light-font-color: black;

  --light-button-color: red;
  --light-button-color-hover: var(--purple);

  /* shaping and spacing */
  --card-border-radius: 8px;
  --card-inner-border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--dark-background-color);
    --foreground-color: var(--dark-foreground-color);
    --border: var(--dark-border);
    --font-color: var(--dark-font-color);
    --font-color-invert: var(--light-font-color);
    --highlight-color: var(--dark-highlight-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--light-background-color);
    --foreground-color: var(--light-foreground-color);
    --border: var(--light-border);
    --font-color: var(--light-font-color);
    --font-color-invert: var(--dark-font-color);
    --highlight-color: var(--light-highlight-color);
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;

  box-sizing: border-box;

  background-color: var(--background-color);
  font-family: var(--ff-primary);
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--foreground-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}
