.delivery-person-list-wraper {
  width: 480px;
  height: calc(100vh - 80px);

  border-right: var(--border);
  overflow-y: hidden;

  background-color: var(--background-color);
  color: var(--font-color);
}

.delivery-person-list {
  height: calc(100vh - 131px);

  background-color: transparent;

  overflow-x: hidden;
  overflow-y: auto;
}

.delivery-person-list-header {
  padding: 0 0 0 15px;

  display: flex;
  align-items: center;

  background-color: transparent;

  border-bottom: var(--border);

  font-weight: 300;
  font-size: 15px;
}

.delivery-person-title {
  width: 100%;
  color: white;
}

.delivery-person-header-button {
  padding: 15px;
  color: white;
  font-size: 15px;
  font-weight: 300;
  padding: 15px;
  background-color: purple;

  white-space: nowrap;

  cursor: pointer;
}

.delivery-person-header-button:hover {
  background-color: var(--foreground-color);
}

.delivery-person-card {
  width: 100%;

  padding: 25px 15px;

  display: flex;
  flex-direction: row;

  cursor: pointer;

  background-color: transparent;
}

.delivery-person-card:hover {
  background-color: var(--foreground-color);
}

.card-selected {
  background-color: var(--highlight-color) !important;
  color: var(--real-white);
}

.delivery-person-picture {
  background-color: var(--foreground-color);
  width: 50px;
  height: 50px;

  border-radius: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  background-color: transparent;
}

.delivery-person-info {
  background-color: transparent;

  margin-left: 20px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  font-weight: 300;
}

.delivery-person-info-title {
  background-color: transparent;

  font-size: 15px;
  font-weight: 600;
}

.delivery-person-info-description {
  background-color: transparent;
}
