.delivery-person-list-wraper {
  width: 480px;
  height: calc(100vh - 80px);

  border-right: 1px solid var(--light-gray);
  overflow-y: hidden;

  background-color: var(--gray-2);
}

.delivery-person-list {
  height: calc(100vh - 131px);

  background-color: transparent;
  color: white;

  overflow-x: hidden;
  overflow-y: auto;
}

.delivery-person-title {
  padding: 15px;

  background-color: transparent;
  color: var(--licorice);

  /* border-bottom: 1px solid var(--light-gray); */

  font-weight: 300;
  font-size: 15px;
}

.delivery-person-card {
  width: 100%;

  padding: 25px 15px;

  display: flex;
  flex-direction: row;

  cursor: pointer;

  background-color: transparent;
  color: var(--licorice);
}

.delivery-person-card:hover {
  background-color: var(--gray-3);
}

.card-selected {
  background-color: var(--purple) !important;
  color: var(--real-white);
}

.delivery-person-picture {
  background-color: white;
  width: 50px;
  height: 50px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  background-color: transparent;
}

.delivery-person-info {
  background-color: transparent;

  margin-left: 20px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  font-weight: 300;
}

.delivery-person-info-title {
  background-color: transparent;

  font-size: 15px;
  font-weight: 600;
}

.delivery-person-info-description {
  background-color: transparent;
}
