.items-list-wraper {
  width: 480px;
  height: calc(100vh - 80px);

  background-color: var(--background-color);
  color: var(--font-color);

  overflow-y: hidden;
}

.items-list-header {
  display: flex;
  align-items: center;

  background-color: transparent;

  border-bottom: var(--border);

  font-weight: 300;
  font-size: 15px;
}

.items-list-title {
  width: 100%;
  font-size: 15px;
  padding: 15px;
  color: white;
}

.items-list-header-button {
  height: 100%;
  padding: 15px;
  font-size: 15px;
  color: white;
  background-color: purple;

  white-space: nowrap;

  cursor: pointer;
}

.items-list-header-button:hover {
  background-color: var(--foreground-color);
}
.items-list {
  height: calc(100vh - 131px);

  padding: 10px 10px 0;

  overflow-y: auto;
}

.item-card {
  display: flex;

  padding: 10px;
  margin: 0 0 10px 0;

  background-color: var(--foreground-color);
  border: var(--border);
  border-radius: var(--card-border-radius);
}

.item-card-img {
  width: 120px;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;

  background-color: white;
  overflow: hidden;

  border: var(--border);
  border-radius: var(--card-inner-border-radius);
}

.item-card-info {
  width: 260px;
  display: flex;
  flex-direction: column;

  background-color: transparent;
}

.item-card-info-name {
  background-color: transparent;
  padding: 10px;
  font-weight: 600;
}

.item-card-info-desc {
  background-color: transparent;

  height: 100%;
  padding: 0 10px;

  font-size: var(--fs-small);
  font-weight: var(--fw-semi-light);
}

.item-card-info-price {
  background-color: transparent;
  padding: 10px;
  font-weight: 600;
  color: green;
}

.item-card-info-actions {
  width: 80px;
  background-color: transparent;
}

.actions-button {
  width: 79px;
  height: 39px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  font-weight: 300;

  background-color: var(--foreground-color);
  color: var(--font-color);

  border-radius: var(--card-inner-border-radius);

  cursor: pointer;
}

.actions-button:hover {
  background-color: var(--highlight-color);
  color: var(--real-white);
}

.actions-info {
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 5px 0;

  font-size: var(--fs-large);
  font-weight: var(--fw-regular);

  background-color: var(--background-color);
  border: var(--border);
  border-radius: var(--card-inner-border-radius);
}

.items-list-actions {
  width: 480px;
  height: 90px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-top: 1px solid var(--light-gray);
}

.create-order-button {
  padding: 20px;
  background-color: var(--gray-2);
  font-size: 20px;

  border: 1px solid var(--light-gray);

  cursor: pointer;
}

.create-order-button:hover {
  background-color: var(--highlight-color);
  color: var(--real-white);
}
