.login-wraper {
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 80px 0 0 0;

  background-color: var(--background-color);
}

.login-logo {
  color: var(--highlight-color);
  background-color: transparent;
  font-size: 82px;
  font-weight: 800;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: var(--foreground-color);
  border: var(--border);
  border-radius: var(--card-border-radius);
}

.input-wraper {
  display: flex;
  border: var(--border);
  margin-bottom: 20px;
  border-radius: var(--card-inner-border-radius);
}

.input-icon {
  padding: 15px;
  width: 60px;
  height: 60px;
  margin: 0;
  background-color: var(--foreground-color);
  border-top-left-radius: var(--card-inner-border-radius);
  border-bottom-left-radius: var(--card-inner-border-radius);
}

.login-text-field {
  width: 300px;
  padding: 20px;

  font-size: 15px;

  color: var(--font-color);
  border-left: var(--border);
  border-top-right-radius: var(--card-inner-border-radius);
  border-bottom-right-radius: var(--card-inner-border-radius);
}

.login-text-field:focus {
  border: none;
}

.login-button {
  width: 100%;
  padding: 20px;

  font-size: 15px;
  font-weight: 600;

  margin-top: 20px;

  background-color: var(--highlight-color);
  color: var(--real-white);

  cursor: pointer;
  border-radius: var(--card-inner-border-radius);
}

.login-button:hover {
  background-color: var(--background-color);
  color: var(--highlight-color);
}
