.open-orders-list-wraper {
  width: 480px;

  background-color: var(--real-white);

  border-right: 1px solid var(--light-gray);
}

.open-orders-list-header {
  background-color: transparent;
  font-size: 15px;
  padding: 15px;

  display: flex;

  /* border-bottom: 1px solid var(--light-gray); */
}

.open-orders-list-header-title {
  background-color: transparent;
  color: black;

  width: 100%;
  font-weight: 300;
  font-size: 15px;
}

.open-orders-list {
  background-color: transparent;

  padding: 0 10px;
}

.open-orders-card {
  padding: 20px;
  margin-bottom: 10px;

  border: 1px solid var(--light-gray);
}

.open-orders-card-header {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
}

.open-orders-card-content-info {
  font-size: 18px;
  font-weight: 400;
}
