.orders-list-wraper {
  width: 480px;
  height: calc(100vh - 80px);

  background-color: var(--background-color);
  color: var(--font-color);
  border-right: var(--border);
}

.orders-list-header {
  background-color: transparent;

  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  /* border-bottom: var(--border); */
}

.orders-list-title {
  background-color: transparent;

  width: 100%;

  font-size: 25px;
  font-weight: 500;
  padding: 15px 25px;
}

.orders-list {
  background-color: transparent;

  height: calc(100vh - 160px);

  padding: 10px 25px 0;

  overflow-y: auto;
  overflow-x: hidden;
}

/* .order-card {
  width: 100%;

  background-color: var(--foreground-color);

  padding: 25px 25px;

  margin-bottom: 10px;

  border: var(--border);

  border-radius: var(--card-border-radius);

  display: flex;
  flex-direction: row;
} */
