.orders-list-wraper {
  width: 480px;

  background-color: var(--real-white);

  height: calc(100vh - 80px);

  border-right: 1px solid var(--light-gray);
}

.orders-list-header {
  padding: 15px;

  width: 100%;

  background-color: transparent;

  /* border-bottom: 1px solid var(--light-gray); */

  display: flex;
  flex-direction: row;
  align-items: center;
}

.orders-list-title {
  background-color: transparent;
  color: black;

  width: 100%;
  font-weight: 300;
  font-size: 15px;
}

.orders-add-button {
  padding: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;

  font-weight: 600;
  font-size: 15px;

  cursor: pointer;

  white-space: nowrap;
  background-color: var(--purple);
  color: white;
}

.orders-add-button:hover {
  background-color: var(--saffron);
}

.orders-add-button-icon {
  margin-right: 10px;
  background-color: transparent;
  filter: invert(100%);
}

.orders-list {
  background-color: transparent;

  height: calc(100vh - 131px);

  overflow-y: auto;
  overflow-x: hidden;
}

.order-card {
  width: 100%;

  background-color: transparent;

  color: black;

  padding: 25px 25px;

  border-bottom: 1px solid var(--light-gray);

  display: flex;
  flex-direction: row;
}
