.toast {
  z-index: 999;
  position: absolute;
  right: 10px;
  top: 10px;

  padding: 20px;
  font-size: 15px;

  color: white;

  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.error {
  background-color: #ff4040;
}

.dont-show {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear, visibility 0s;
}
